/* CSS file --> index.html */
/* (1) Tag Selector */
body{
    background-size: 1920px 1080px;
    background-image: url("abstract-colorful-geometric-overlapping-background-and-texture-free-vector.jpg");
}
h1{
    text-align: center;
    font-family: cursive;
    /*background-color: #FCE38A;*/
}
h2{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    /*background-color: #EAFFD0;*/
}
h3{
    text-align: center;
    font-family: Aclonica;
    font-weight: normal;
}
h5{
    text-align: center;
    font-family: Aclonica;
    font-weight: normal;
}
table{
    width: 100%;
    text-align: center;
}

/* (2) Class Selector */
p{
    text-align: center;     
}

/* (3) Id Selector */
#th-Details{
    text-align: left;
}
 
/* div */
.top-container{
    background-size : 1500px 240px  ;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://553834213-files.gitbook.io/~/files/v0/b/gitbook-28427.appspot.com/o/assets%2F-LPYQBx3Klbiq2P146cj%2F-LPw7ybOMUCMeaDQMKzN%2F-LPw9Yj6jRcemLmFI4x8%2Fbanner-entries4.png?alt=media&token=68ac3381-a911-4576-b95e-2fbd0ddbde83");
}
.table-menu td:hover{
    background-size : 600px 240px auto ;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://64.media.tumblr.com/48e357b2c51bd5322ee8c5027366c248/tumblr_nllc36GMcq1ry4hgeo1_500.gifv");
}
.table-content h2{
    background-color: rgb(255, 127, 127);
}
.table-content img:hover{
    background-color: rgb(17, 146, 233);
}